[submodule "deps/FPBench"]
	path = deps/FPBench
	url = https://github.com/FPBench/FPBench.git
[submodule "deps/NumFuzz"]
	path = deps/NumFuzz
	url = https://github.com/Athena-Types/NumFuzz.git
	branch = paired-lite
[submodule "deps/daisy"]
	path = deps/daisy
	url = https://github.com/malyzajko/daisy.git
[submodule "deps/Satire"]
	path = deps/Satire
	url = https://github.com/arnabd88/Satire.git
[submodule "deps/gelpia"]
	path = deps/gelpia
	url = https://github.com/InnovativeInventor/gelpia.git
[submodule "deps/sly"]
	path = deps/sly
	url = https://github.com/dabeaz/sly.git
[submodule "deps/symengine"]
	path = deps/symengine
	url = https://github.com/symengine/symengine.git
[submodule "deps/bigfloat"]
	path = deps/bigfloat
	url = https://github.com/kalray/bigfloat.git
[submodule "deps/GAOL"]
	path = deps/GAOL
	url = https://github.com/goualard-f/GAOL.git
[submodule "deps/mathlib"]
	path = deps/mathlib
	url = https://github.com/dreal-deps/mathlib.git
[submodule "deps/crlibm"]
	path = deps/crlibm
	url = https://github.com/taschini/crlibm.git
[submodule "deps/gdtoa"]
	path = deps/gdtoa
	url = https://github.com/jwiegley/gdtoa.git
[submodule "deps/symengine.py"]
	path = deps/symengine.py
	url = https://github.com/symengine/symengine.py.git
[submodule "deps/gappa"]
	path = deps/gappa
	url = https://gitlab.inria.fr/gappa/gappa.git
[submodule "deps/FPTaylor"]
	path = deps/FPTaylor
	url = https://github.com/soarlab/FPTaylor.git
